.venv*/
__pycache__/
*.pyc
*.pyo

api_server.log
api_server.err.log
api_test_*.json

images/
labels/
predict/
em.zip

runs/**/weights/last.pt
runs/**/train_batch*.jpg
runs/**/val_batch*.jpg
runs/**/labels.jpg
runs/**/confusion_matrix*.png
runs/**/Box*_curve.png
runs/**/results.png

